[submodule "autothemer"]
	path = lib/autothemer
	url = https://github.com/jasonm23/autothemer
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "gruvbox-theme"]
	path = lib/gruvbox-theme
	url = https://github.com/greduan/emacs-theme-gruvbox
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow
