[submodule "autothemer"]
	path = lib/autothemer
	url = https://github.com/jasonm23/autothemer
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "gruvbox-theme"]
	path = lib/gruvbox-theme
	url = https://github.com/greduan/emacs-theme-gruvbox
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nyan-mode"]
	path = lib/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "shackle"]
	path = lib/shackle
	url = https://depp.brause.cc/shackle.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
